<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/pages"}>Statische Seiten</:item>
  <:item to={~p"/admin/pages/#{@static_page}"}><%= @static_page.name %></:item>
  <:item>Bearbeiten</:item>
</.breadcrumb>

<.header>
  Seite bearbeiten
</.header>

<._form changeset={@changeset} action={~p"/admin/pages/#{@static_page}"} />
