<h1>Seite bearbeiten</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.static_page_path(@conn, :update, @static_page)) %>

<span><%= link "Zurück", to: Routes.static_page_path(@conn, :index) %></span>
