<.breadcrumb>
    <:item to={~p"/admin/"}>Admin</:item>
    <:item to={~p"/admin/pages"}>Statische Seiten</:item>
    <:item><%= @static_page.name %></:item>
</.breadcrumb>

<h1 class="text-4xl font-light mt-6">
  Seitenvorschau
</h1>

<.fab to={~p"/admin/pages/#{@static_page}/edit"} icon="hero-plus" text="Bearbeiten" />

<div class="prose mt-4">
  <%= markdown(@static_page.content) %>
</div>
