<%= breadcrumbs([@conn, :static_page, @static_page]) %>

<h1 class="text-4xl font-light mt-6">
  Seitenvorschau
</h1>

<.fab to={~p"/admin/pages/#{@static_page}/edit"} icon="hero-plus" text="Bearbeiten" />

<div class="prose mt-4">
  <%= markdown(@static_page.content) %>
</div>
