<nav role="navigation" class="sm:flex items-center justify-between">
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 border-t border-black sm:border-b" href="<%= Routes.page_path(@conn, :index) %>">Start</a>
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 sm:border-t border-black sm:border-b" href="<%= Routes.page_path(@conn, :contact) %>">Kontakt</a>
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 sm:border-t border-black sm:border-b" href="<%= Routes.page_path(@conn, :shop) %>">Shop</a>
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 sm:border-t border-black sm:border-b" href="<%= Routes.page_path(@conn, :gallery) %>">Impressionen</a>
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 sm:border-t border-black sm:border-b" href="<%= Routes.page_path(@conn, :history) %>">Geschichte</a>
    <a class="block sm:flex-1 small-caps tracking-wide hover:text-white text-md text-center bg-opacity-25 bg-gray-300 hover:bg-dvblue-500 py-1 sm:border-t border-black border-b" href="<%= Routes.post_path(@conn, :blog) %>">Blog</a>
</nav>
