<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/users"}>Benutzer</:item>
  <:item><%= @user.display_name %></:item>
</.breadcrumb>

<h1 class="text-4xl font-light mt-6">Benutzer bearbeiten</h1>

<._form changeset={@changeset} action={~p"/admin/users/#{@user}"} />
