<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/users"}>Benutzer</:item>
  <:item>Neu</:item>
</.breadcrumb>

<.header>
  Neuen Benutzer erstellen
</.header>

<._form changeset={@changeset} action={~p"/admin/users"} />
