<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/posts"}>Blog</:item>
  <:item to={~p"/admin/posts/#{@post}"}><%= @post.slug %></:item>
  <:item>Bearbeiten</:item>
</.breadcrumb>

<.header>
  Blogbeitrag bearbeiten
</.header>

<._form changeset={@changeset} action={~p"/admin/posts/#{@post}"} />
