<h1>Beitrag bearbeiten</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :update, @post)) %>

<span><%= link "Zurück", to: Routes.post_path(@conn, :index), class: "button button-outline", data: [confirm: "Wirklich zurück? Änderungen werden nicht gespeichert"] %></span>
