<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/posts"}>Blog</:item>
  <:item>Neu</:item>
</.breadcrumb>

<.header>
  Neuen Beitrag erstellen
</.header>

<._form changeset={@changeset} action={~p"/admin/posts"} />
