<%= breadcrumbs [@conn, :post, @post] %>

<h1>Vorschau</h1>

<ul>

  <li>
    <strong>Slug:</strong>
    <%= @post.slug %>
  </li>

  <li>
    <strong>Datum:</strong>
    <%= @post.publish_on %>
  </li>

</ul>

<span><%= link "Bearbeiten", to: Routes.post_path(@conn, :edit, @post), class: "button button-outline button-small" %></span>
<hr>
<%= render @view_module, "post.html", post: @post, conn: @conn %>