<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @post.slug %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>Publish on:</strong>
    <%= @post.publish_on %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
