<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/posts"}>Blog</:item>
  <:item><%= @post.slug %></:item>
</.breadcrumb>

<h1 class="text-4xl font-light mt-6">Beitragsvorschau</h1>

<.fab to={~p"/admin/posts/#{@post}/edit"} icon="hero-pencil-square-solid" text="Bearbeiten" />

<hr class="my-4" />

<.post conn={@conn} post={@post} />
