.hours .row {
    margin-bottom: .5em;
}

.hours dt {
    font-weight: 400;
}

.hours dd {
    white-space: pre-line;
}

.map {
    width: 100%;
    height: 50vh;
    border: 0;
}

.blogpost {
    border-bottom: 1px solid $light;
    margin-bottom: 2rem;
}

.blogpost:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.blog nav li {
    margin-bottom: 0;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.alert {
    font-weight: 400;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.alert.alert-info {
    color: $alert-text;
    background-color: $info;
}

.alert.alert-success {
    color: $alert-text;
    background-color: $success;
}

.alert.alert-warning {
    color: $alert-text;
    background-color: $warning;
}

.alert.alert-danger {
    color: $alert-text;
    background-color: $danger;
}

.button.button-danger {
    background-color: $danger;
    border-color: $danger;
}

.button.button-danger.button-outline {
    background-color: transparent;
    color: $danger;
}

.help-block {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.breadcrumbs {
    list-style-type: none
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs a {
    text-decoration: underline;
}

.breadcrumbs li::after {
    content: " / ";
}

.breadcrumbs li:last-child::after {
    content: ""
}