$nav-boder: 1px solid $dark;

.main-nav {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main-nav nav {
    border-top: $nav-boder;
    border-bottom: $nav-boder;
    background: rgba(240, 240, 240, .3);
}

.main-nav nav .column {
    text-align: center;
}

.main-nav nav .column:hover {
    background: $light;
}

.main-nav nav .column:hover a {
    color: $dv-blue;
}

.main-nav nav a {
    font-variant: small-caps;
    font-weight: 400;
    color: $dark;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .2em 0 .3em 0;
}

header.container {
    margin-bottom: 2em;
}