@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";

@layer components {
  .button {
    @apply px-4 py-2 border text-center rounded block;
  }
  
  .button-dvblue {
    @apply bg-dvblue-300 border-dvblue-500 text-white;
  }
  
  .button-gray {
    @apply bg-gray-300 border-gray-500;
  }
  
  .button-red {
    @apply bg-red-300 border-red-500 text-red-800;
  }
}

@import "tailwindcss/utilities";

@layer utilities {
  .small-caps {
    font-variant-caps: small-caps;
  }
}

body::before {
    background-image: url("/images/bg.png");
    content: "";
    filter: blur(5px);
    z-index: -2;
    @apply bg-cover w-screen h-screen block fixed top-0 left-0 opacity-25 pointer-events-none;
}