<.breadcrumb>
    <:item to={~p"/admin/"}>Admin</:item>
    <:item to={~p"/admin/hours"}>Öffnungszeiten</:item>
    <:item>Neu</:item>
</.breadcrumb>

<h1 class="text-4xl font-light mt-6">Neue Öffnungszeiten</h1>

<._form changeset={@changeset} action={~p"/admin/hours"} />
