<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/photos"}>Gallerie</:item>
  <:item to={~p"/admin/photos/#{@photo}"}><%= @photo.title || @photo.id %></:item>
  <:item>Bearbeiten</:item>
</.breadcrumb>

<.header>
  Bild bearbeiten
</.header>

<._form changeset={@changeset} action={~p"/admin/photos/#{@photo}"} />
