<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/photos"}>Gallerie</:item>
  <:item>Neu</:item>
</.breadcrumb>

<.header>
  Bild hochladen
</.header>

<._form changeset={@changeset} action={~p"/admin/photos"} />
