<%= breadcrumbs [@conn, :photo, @photo] %>

<h1>Bildvorschau</h1>

<ul>

  <li>
    <strong>In Impressionen:</strong>
    <%= @photo.in_gallery %>
  </li>

</ul>

<span><%= link "Bearbeiten", to: Routes.photo_path(@conn, :edit, @photo), class: "button button-outline" %></span>

<%= Dievergolderei.Photo.url({@photo.photo, @photo}, :big) |> img_tag() %>