<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/shop"}>Shop</:item>
  <:item>Neu</:item>
</.breadcrumb>

<.header>
  Neuen Verkaufsartikel erstellen
</.header>

<._form changeset={@changeset} action={~p"/admin/shop"} />
