<.breadcrumb>
  <:item to={~p"/admin/"}>Admin</:item>
  <:item to={~p"/admin/shop"}>Shop</:item>
  <:item>Neu</:item>
</.breadcrumb>

<h1 class="text-4xl font-light mt-6">Neuen Shopartikel erstellen</h1>

<._form changeset={@changeset} action={~p"/admin/shop"} />
